@using CinemaApp.Web.ViewModels.Cinema;
@using CinemaApp.Web.ViewModels.Movie;
@model CinemaDetailsViewModel

@{
    ViewData["Title"] = "Cinema Movie Program";
}

<h2>@Model.Name - Cinema Movie Program</h2>

<p><strong>Location:</strong> @Model.Location</p>

<h3>Movies Currently Showing:</h3>

@if (Model.Movies.Any())
{
    <ul class="list-group">
        @foreach (CinemaMovieViewModel movie in Model.Movies)
        {
            <li class="list-group-item">
                <strong>@movie.Title</strong> <br />
                <small>Duration: @movie.Duration minutes</small>
            </li>
        }
    </ul>
}
else
{
    <p>No movies are currently showing at this cinema.</p>
}

<a asp-action="Index" class="btn btn-secondary mt-3">Back to Cinemas</a>